@use '../abstracts/' as a;

.form {
    width: 100%;
    max-width: a.rem(736);
    background-color: white;
    padding: a.rem(24);
    border-radius: a.rem(16);

    @include a.add-flex(column, $gap: a.rem(24));

    @media all and (min-width: 768px) {
        padding: a.rem(40);
    }

    h1 {
        font: a.$heading;
        letter-spacing: -1px;
    }

    .error-msg {
        color: a.$error-text-color;
        display: none;
        font: a.$body-sm;
    }

    // .selected {
    //     background-color: a.$green-200;
    // }

    &__row {
        @include a.add-flex(column, $gap: a.rem(24));

        @media all and (min-width: 768px) {
            flex-direction: row;
            gap: a.rem(16);
        }
    }

    &__fieldset {
        @include a.add-flex(column, $gap: a.rem(16));

        legend {
            margin-bottom: a.rem(8);
            font: a.$body-sm;
        }
    }

    &__control {
        flex: 1 1 50%;
        @include a.add-flex(column, $gap: a.rem(8));

        label {
            font: a.$body-sm;
        }

        input {
            padding: a.rem(12);
            outline: none;
        }

        input, textarea {
            border: 1px solid a.$grey-500;
            border-radius: a.rem(8);
            font: a.$body-md;

            &:hover {
                border-color: a.$green-600;
            }

            &.error {
                border-color: a.$error-text-color;
            }
        }

        textarea {
            resize: none;
            padding: a.rem(12) a.rem(24);
        }

        &-radio {
            flex: 1 1 50%;
            @include a.add-flex(row, $gap: a.rem(8));
            padding: a.rem(12) a.rem(24);
            border: 1px solid a.$grey-500;
            border-radius: a.rem(8);

            font: a.$body-sm;

            &:hover {
                border-color: a.$green-600;
                cursor: pointer;
            }

            & > *:hover {
                cursor: pointer;
            }

            &:has(> input:checked) {
                background-color: a.$green-200;
            }
        }

        &-checkbox {
            @include a.add-flex(column, $gap: a.rem(8));
            align-self: flex-start;
            flex-grow: 1;

            &:hover {
                cursor: pointer;
            }

            &-input {
                @include a.add-flex(row, $align-items: center, $gap: a.rem(16));

                label {
                    font: a.$body-sm;
                    flex-grow: 1;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

        }
    }

    &__btn-submit {
        padding: a.rem(16) a.rem(40);
        border-radius: a.rem(8);
        background-color: a.$green-600;
        color: white;

        font: a.$body-md-bold;

        &:hover {
            background-color: a.$gray-900;
            cursor: pointer;
        }
    }

}