@use '../abstracts/' as a;

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: a.rem(20);
    height: a.rem(20);
    border: 1px solid a.$grey-500;
    border-radius: 50%;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: all 0.2s;

        width: inherit;
        height: inherit;

        background: url('assets/images/icon-radio-selected.svg') no-repeat center;
        background-size: cover;
    }

    &:checked {
        &::before {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
  

.checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: a.rem(20);
    height: a.rem(20);
    overflow: hidden;
    border: 1px solid a.$grey-500;
    border-radius: 2px;

    @include a.add-flex(row, center, center);

    &::before {
        content: '';
        width: a.rem(20);
        height: a.rem(20);
        background: url('assets/images/icon-checkbox-check.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: scale(0);
        transition: all 0.2s;
    }

    &:checked {
        &::before {
            transform: scale(1);
        }
    }
}